extends base

block content
    main.main
        .card-container
            each m in media
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/${m.resources.displayPoster.split('.com/')[1]}`, alt=`${m.title}`)
                        h3.heading-tertirary
                            span= m.title

                    .card__details
                        h4.card__sub-heading= `${m.seasons.length} Seasons & ${m.numberOfEpisodes} Episodes`
                        p.card__text= m.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= m.cast
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')

                    .card__footer
                        p
                            each val in m.genres
                                span.card__footer-value= `${val}, `
                                |
                            p.card__ratings
                                svg.reviews__star(class='svg__padding' fill='white')
                                    use(xlink:href='/img/svg/icons.svg#icon-star', class=`reviews__star--active`)
                                span.card__footer-value #{m.rating}
                                |
                            a.btn.btn--green.btn--small(href=`/media/${m.slug}`) Details