extends base

block content
    main.main
        .card-container
            each tvShow in tvShows
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`${tvShow.covers[0]}`, alt=`${tvShow.title}`)
                        h3.heading-tertirary
                            span= tvShow.title

                    .card__details
                        h4.card__sub-heading= `${tvShow.seasonCount} Seasons & ${tvShow.episodeCount} Episodes`
                        p.card__text= tvShow.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= tvShow.cast
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            //- span= tour.startDates[0].toLocaleString('en',{month:'long',year:'numeric'})
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            //- span= `${tour.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            //- span= `${tour.maxGroupSize} people`

                    .card__footer
                        p
                            each val in tvShow.genres
                                span.card__footer-value= `${val}, `
                                |
                                //- span.card__footer-text= ` per person`
                            p.card__ratings
                                span.card__footer-value #{tvShow.rating}
                                |
                                //- span.card__footer-text= ` rating (${tour.ratingsQuantity})`
                            a.btn.btn--green.btn--small(href=`/tv-shows/${tvShow.slug}`) Details